[submodule "qt-manhattan-style"]
	path = qt-manhattan-style
	url = git://github.com/Skyrpex/qt-manhattan-style.git
[submodule "libs/QxMesh"]
	path = libs/QxMesh
	url = git://github.com/Skyrpex/QxMesh.git
